<ion-card>
			<div class="header-item">
				<p class="font-standard mb-0">
					{{ task?.date | date: 'hh:mm a' }}
				</p>
				<p class="font-standard mb-0 text-secondary ml-2">
					{{ task?.date | date: 'EEEE' }}
				</p>
			</div>
			<ion-item-sliding>
				<ion-item button lines="none">
					<ion-label class="ml-3 my-4">
						{{ task?.title }}
						<p class="m-0 text-secondary">
							{{ task?.description }}
						</p>
					</ion-label>
					<ion-checkbox
						#checkbox
						slot="end"
						mode="ios"
						color="success"
						[checked]="task?.completed"
					></ion-checkbox>
				</ion-item>
				<ion-item-options side="end">
					<ion-item-option color="danger">
						<ion-buttons>
							<ion-button>
								<ion-icon
									slot="icon-only"
									name="trash"
								></ion-icon>
							</ion-button>
						</ion-buttons>
					</ion-item-option>
					<ion-item-option color="success">
						<ion-buttons>
							<ion-button color="light" (click)="editTask()">
								<ion-icon
									slot="icon-only"
									name="pencil"
								></ion-icon>
							</ion-button>
						</ion-buttons>
					</ion-item-option>
				</ion-item-options>
			</ion-item-sliding>
		</ion-card>